@font-face {
  font-family: 'Adventor';
  src: url("/fonts/texgyreadventor-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Adventor';
  src: url("/fonts/texgyreadventor-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Adventor';
  src: url("/fonts/texgyreadventor-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Adventor';
  src: url("/fonts/texgyreadventor-bolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

html, body {
  box-sizing: content-box;
  font-family: 'Century Gothic', 'Adventor', sans-serif;
  font-size: 2.12862vw;
  margin: 0; }

h1 {
  font-size: 9.01699vw; }

h2 {
  font-weight: normal;
  font-size: 5.57281vw; }

h3 {
  font-weight: normal;
  font-size: 3.44419vw;
  text-align: justify; }

h2 + p {
  margin-top: 3.44419vw; }

h1, h2, h3, h4, p {
  margin: 0;
  line-height: 1; }

.page {
  min-height: 100vh; }
  .page > div {
    padding: 0 9.01699vw; }
  .page#p2 > div {
    padding: 0 5.57281vw; }
  .page#p1 > div {
    padding: 0 3.44419vw; }

.lb {
  padding-top: 9.01699vw; }

#lb {
  width: auto;
  height: 9.01699vw; }

.beam {
  background: linear-gradient(to bottom, #d21888 0%, #d21888 9.01699%, #ffffff 9.01699%, #ffffff 14.5898%, #d21888 14.5898%, #d21888 100%); }

.beam-vert, #main {
  background: linear-gradient(to left, #d21888 0%, #d21888 9.01699%, #ffffff 9.01699%, #ffffff 14.5898%, #d21888 14.5898%, #d21888 100%); }

/*.beam-vert {
    background: linear-gradient(to left, 
        $beamPrimary 0%,
        $beamPrimary nthGolden(9)*1vw,
        #ffffff nthGolden(9)*1vw,
        #ffffff nthGolden(8)*1vw,
        $beamPrimary nthGolden(8)*1vw,
        $beamPrimary 100%);
}
    */
#main {
  background-size: 5.57281vw 100%;
  background-repeat: no-repeat;
  background-position: 0 38.1966vw; }

#p1 {
  background: linear-gradient(to bottom, #d21888 0%, #d21888 100%);
  background-size: 100% calc(100vh - 38.1966vw);
  background-repeat: no-repeat;
  background-position: 5.07281vw bottom; }
  #p1 .beam {
    height: 38.1966vw; }

#p2 h2, #p2 p {
  width: 38.1966vw; }

#p3 h1 {
  width: auto;
  display: inline-block; }

#catalog-sort {
  float: right;
  padding: 0;
  transform: rotateZ(45deg);
  line-height: 1;
  margin-top: 14.5898vw;
  margin-right: -5.57281vw; }
  #catalog-sort ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 23.6068vw; }
    #catalog-sort ul li {
      display: inline-block;
      flex-grow: 1; }
    #catalog-sort ul li.sel {
      font-weight: bold; }
  #catalog-sort #sort-medium > li {
    width: 33%; }
  #catalog-sort #sort-artist {
    margin-left: 15.73787vw; }
    #catalog-sort #sort-artist > li {
      width: 100%; }

#catalog-items > div {
  display: inline-block;
  text-align: right;
  margin: 0 0 0 1.31556vw; }
  #catalog-items > div .art {
    width: 23.6068vw;
    height: 23.6068vw;
    background-color: red;
    position: relative; }
    #catalog-items > div .art:before {
      display: block;
      content: '';
      width: 23.6068vw;
      height: 1.31556vw;
      background-color: black;
      position: absolute;
      z-index: -1;
      transform: rotateZ(45deg);
      top: 0;
      left: -33.33333%; }
