input {
	border-width: nthGolden(11)+vw;
	margin-top: nthGolden(10)+vw;
    @media screen and (orientation: portrait) {
		margin-top: nthGolden(8)+vw;
		//margin-bottom: nthGolden(8)+vw;
	}
}

#mce-EMAIL {
    font-family: 'Century Gothic', 'Adventor', sans-serif;

	vertical-align: top;
	padding: 0 (nthGolden(7)/2)+vw (nthGolden(8)/2)+vw (nthGolden(7)/2)+vw;

    font-size: nthGolden(8)+vw;
    min-width: nthGolden(2)+vw;
    text-align: left;

    @media screen and (orientation: portrait) {
        font-size: nthGolden(7)+vw;
	    min-width: (100 - (nthGolden(4) * 3))+vw;
    }

	&:focus {
		outline-width: (nthGolden(7)/2)+vw;
	}
}

#mc-embedded-subscribe {
    font-family: 'Century Gothic', 'Adventor', sans-serif;	
	padding-left: (nthGolden(7)/2)+vw;
	padding-bottom: (nthGolden(8)/2)+vw;
    font-size: nthGolden(8)+vw;
    min-width: nthGolden(3)+vw;
    text-align: left;

	background-color:$beamSecondary; 
	color: #fff;

    @media screen and (orientation: portrait) {
        font-size: nthGolden(7)+vw;
    	//min-width: (100 - (nthGolden(4) * 3))+vw;
	}
}

// MailChimp injects the below; unfort you have to !important anything you want to override :-/
#main #mc_embed_signup {
	padding-top: 1em;

	input.mce_inline_error { 
		border-color:$beamPrimary;
	}
	div.mce_inline_error,
	#mce-error-response,
	#mce-success-response { 
		margin-top: nthGolden(10)+vw;
		margin-bottom: 0;
		min-width: nthGolden(1)+vw;;

	    @media screen and (orientation: portrait) {
			margin-top: nthGolden(8)+vw;
			//margin-bottom: nthGolden(8)+vw;
		}

		text-transform: lowercase;
		background-color: $beamPrimary; 
		// the below are injected from MC
		//margin: 0 0 1em 0;
		padding: (nthGolden(8)/2)+vw (nthGolden(7)/2)+vw; 
		//font-weight: bold; 
		//z-index: 1; 
		//color:#fff;

		&:empty {
			display: none;
		}
	}

	#mce-error-response,
	#mce-success-response { 
		margin-bottom: nthGolden(10)+vw;		
	}

	#mce-success-response { 
		background-color:$beamSecondary; 		
	}
}
