@import "golden";
@import "fonts";

$beamPrimary: #d21888;
$beamSecondary: #18d1bd;

html, body {
    box-sizing: content-box;
    font-family: 'Century Gothic', 'Adventor', sans-serif;
    margin: 0;
    width: 100vw;

    @media screen and (orientation: portrait) {
        font-size: nthGolden(7)+vw;
    }

    font-size: nthGolden(8)+vw;
}

a:hover {
    color: $beamSecondary;
}

h1 {
    font-size: nthGolden(5)+vw;
}
h2 {
    font-weight: normal;
    font-size: nthGolden(6)+vw;

}
h3 {
    font-weight: normal;
    font-size: nthGolden(7)+vw;
    text-align: justify;

    @media screen and (orientation: portrait) {
        font-size: nthGolden(6)+vw;
    }
}
p {
}
h2 + p {
    margin-top: nthGolden(7)+vw;
}

h1, h2, h3, h4, p {
    margin: 0;
    line-height: 1;
}

.page {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;   

    > div {
        padding: 0 nthGolden(5)+vw;
    }

    &#p2 > div {
        padding: 0 nthGolden(6)+vw;
    }


    &#p1 > div {
        padding: 0 nthGolden(7)+vw;
    }
}

.lb {
    padding-top: nthGolden(5)+vw;
}

#lb, #statement, #catalogue {
    width: auto;
    height: nthGolden(5)*1vw;
}



.beam {
    background: linear-gradient(to bottom, 
        $beamPrimary 0%,
        $beamPrimary nthGolden(5)*1%,
        #ffffff nthGolden(5)*1%,
        #ffffff nthGolden(4)*1%,
        $beamPrimary nthGolden(4)*1%,
        $beamPrimary 100%);
}
.beam-vert {
    background: linear-gradient(to left, 
        $beamPrimary 0%,
        $beamPrimary nthGolden(5)*1%,
        #ffffff nthGolden(5)*1%,
        #ffffff nthGolden(4)*1%,
        $beamPrimary nthGolden(4)*1%,
        $beamPrimary 100%);
}

/*.beam-vert {
    background: linear-gradient(to left, 
        $beamPrimary 0%,
        $beamPrimary nthGolden(9)*1vw,
        #ffffff nthGolden(9)*1vw,
        #ffffff nthGolden(8)*1vw,
        $beamPrimary nthGolden(8)*1vw,
        $beamPrimary 100%);
}
    */
// main
#main {
    @extend .beam-vert;
    background-size: nthGolden(6)*1vw 100%;
    background-repeat: no-repeat;
    background-position: 0 200vh;
}

// page 1
#p1 {
    background: linear-gradient(to bottom, $beamPrimary 0%, $beamPrimary 100%);
    background-size: 100% calc(100vh - #{nthGolden(2)*1vw});
    background-repeat: no-repeat;
    background-position: left bottom;

    .beam {
        height: nthGolden(2)+vw;
    }
}

#p2 {
    background: url('/img/lazerbeamsbeam.svg') no-repeat left bottom;
    background-size: 72vw 47vw;

    h1 {
        position: relative;
        top: nthGolden(8)*-1vw;
    }

    h2, p {
        width: nthGolden(2)+vw;
    }

    .logo {
        position: absolute;
        bottom: 0;
        right: nthGolden(8)+vw;
        width: nthGolden(1)+vw;
        height: auto;
    }
}

// catalogue
#p3 {
    h1 {
        position: relative;
        top: nthGolden(8)*1vw;
        width: auto;
        display: inline-block;
    }
}

.page.last {
    background: url('/img/lazerbeamsbeam.svg') no-repeat 6vw bottom;
    background-size: 72vw 25vw;

    .logo {
        position: absolute;
        bottom: 0;
        right: nthGolden(8)+vw;
        width: auto;
        height: nthGolden(3)+vw;
    }
}

p.whoa {
    letter-spacing: nthGolden(9)+vw;
}

#catalog-punch {
    float: right;
    margin-top: 0;
    margin-right: nthGolden(7) * 1vw;
    width: nthGolden(4) * 1vw;
    height: nthGolden(3) * 2vw;
}

#catalog-sort {
    position: absolute;
    right: -5vw;

    top: nthGolden(3) - nthGolden(6) * 1vw;
    padding: 0;
    transform: rotateZ(45deg);
    line-height: 1;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        width: 27vw;

        li {
            display: inline-block;
            flex-grow: 1;
        }

        li:hover {
            color: $beamSecondary;
            cursor: pointer;
        }

        li.sel {
            font-weight: bold;
        }
    }

    #sort-medium {
        > li {
        }
    }

    #sort-artist {
        margin-left: 16vw;

        > li {
            width: 100%;
        }
    }
}

#catalog-items {
    > div {
        display: inline-block;
        text-align: right;
        margin: 0 0 nthGolden(8)*1vw nthGolden(8)*1vw;
        line-height: 1;

        &.on .art {
            width: nthGolden(1)+vw;
            height: nthGolden(1)+vw;

            @media screen and (orientation: portrait) {
                width: 100vw - nthGolden(5);
                height: 100vw - nthGolden(5);
                margin-left: nthGolden(6) * -1vw;
            }
        }


        .art {
            width: nthGolden(3)+vw;
            height: nthGolden(3)+vw;
            background-color: red;
            position: relative;
            box-shadow: nthGolden(9)+vw nthGolden(9)+vw black;

            @media screen and (min-width: 1240px) {
                width: nthGolden(4)+vw;
                height: nthGolden(4)+vw;
            }

            img {
                width: 100%;
                height: 100%;
            }

            &:hover {
                cursor: pointer;
            }

            &:before {
                display: block;
                content: '';
                width: nthGolden(4)+vw;
                height: nthGolden(11)+vw;
                background-color: black;
                position: absolute;
                z-index: -1;
                transform: rotateZ(45deg);
                top: 0;
                left: -4.7vw;
            }
        }
    }
}

// album colors
#lb001, #lb007 {
    color: #208f6f;
}
#lb002, #lb008 {
    color: #445659;
}
#lb003, #lb009 {
    color: #d6d385;
}
#lb004, #lb010 {
    color: #c37670;
}
#lb005 {
    color: #c74b25;
}
#lb006 {
    color: #557f91;
}